	
		<div id="location-info">

			<div id="country-info">
			</div>

			<div id="city-info">
			</div>

			<button id="location-btn" value=""></button>
		</div>

<script type="module" src="/js/globe.js"></script>
<script type="module" src="/js/locationBtn.js"></script>
