	
	  <link rel="stylesheet" href="/css/style.css"> 
	
		<div id="location-info">

			<div id="country-info" class="hidden">
			</div>

			<div id="city-info" class="hidden">
			</div>

			<button id="location-btn" class="hidden"></button>
		</div>

<script type="module" src="/js/globe.js"></script>
<script type="module" src="/js/locationBtn.js"></script>
