* {
    margin: 0;
 }

 nav {
     background-color: black;
 }
 
 #location-info {

     background-color: black;
     z-index: 100;
     position: fixed;
     color: white;
     display: none;
     flex-direction: column;
     text-align: center;
     margin-bottom: 25%;
 }
 
             
 #country-info, #city-info {
    color: white;
    font-size: 1.5rem;
 }
 
 #location-btn {
     color: blue;
     background-color: white;
     text-align: center;
     padding: 1rem;
 }
     

