* {
    overflow: hidden;
    margin: 0;
    color: white; 
 }
 
 #location-info {
     justify-items: center;
     align-content: center;
     display: none;
     flex-direction: column;
     background-color: black;
     opacity: 75%;
     position: absolute;
     right: 0vh;
     bottom: 0vh;
     width: 25vw;
     height: 50vh;
     font-size: 9pt;
     font-style: normal;
     text-align: center;
 }
 
             
 #country-info, #city-info {
     font-size: 1.5rem;
     margin-top: 3%;
     justify-items: center;
     align-content: center;
     align-self: center;
     text-align: left;
     text-indent: 3%;
     width: 75%;
     height: 7%;
     border-radius: 10%;
     margin-bottom: 1%;
     text-align: center;
 }
 
 #location-btn {
     color: yellow;
     background-color: black;
     opacity: 75%;
     text-align: center;
 }
     

